@model IEnumerable<DMovies.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<body class="sivibg">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.streamLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="tekst">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td class="tekst">
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td class="tekst">
                @Html.DisplayFor(modelItem => item.streamLink)
            </td>
            <td >
                <a class="tekst" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="tekst" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="tekst" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>